torch
torchvision
torchtext
torchdata
captum
hydra-core
numpy
pandas
scikit-image
scikit-learn
scipy
seaborn
tabulate
tqdm
wget
tokenizers
matplotlib
importlib-metadata
jupyter
notebook
torch-sparse
torch-scatter
torch-geometric